<div class="page-container">

  <header class="header" role="banner">
    {{ page.header }}
  </header>

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
  <main class="main" role="main">

    <div class="main__content">
      {{ page.content }}
    </div>

    {% if page.sidebar_first %}
      <aside class="main__sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="main__sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </main>

  {% if page.footer %}
    <footer class="footer" role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>
